In [1]:
%defaultDatasource jdbc:h2:mem:db

# Analisando o Risco de um Usuário utilizar Drogas Ilícitas
* Esta tarefa demonstrará o processo do desenvolvimento do sistema capaz de analizar o risco de um usuário utilizar drogas ilícitas.

* Modelo Conceitual: ER

![Modelo Conceitual Entidade Relacionamento](ModeloConceitualER.png "ER")

* Modelo Conceitual: UML

![Modelo Conceitual UML](ModeloConceitualUML.png "UML")

* Modelo Lógico

Usuario(\_id\_, idade, sexo, nívelEducação, nacionalidade, etnia);<br/><br/>
Personalidade(\_user_id\_, pontuaçãoN, pontuaçãoE, pontuaçãoO, pontuaçãoA, pontuaçãoC, impulsividade, pontuaçãoSS);<br/>
FK: user_id -> id em Usuario;<br/><br/>
RiscoUso_ilícitas(\_user_id\_, geral, amphetamines, amyl_nitrite, benzodiazepine, cannabis, cocaine, crack, ecstasy, heroin, ketamine, legal_highs, LSD, methadone, mushrooms, VSA);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Alcohol(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Amphetamines(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Amyl_nitrite(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Benzodiazepine(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Cannabis(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Chocolate(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Cocaine(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Caffeine(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Crack(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Ecstasy(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Heroin(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
LSD(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Methadone(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Mushrooms(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
Nicotine(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>
VSA(\_user_id\_, consumo);<br/>
FK: user_id -> id em Usuario;<br/><br/>

* A partir do arquivo CSV que está no diretório /data considere as seguintes tabelas SQL.

In [2]:
DROP TABLE Usuario IF EXISTS;
DROP TABLE Personalidade IF EXISTS;
DROP TABLE Consumo IF EXISTS;

CREATE TABLE Usuario (
    Id VARCHAR(5) NOT NULL,
    Age FLOAT NOT NULL,
    Gender VARCHAR(10) NOT NULL,
    Education FLOAT NOT NULL,
    Country FLOAT NOT NULL,
    Ethnicity VARCHAR(10) NOT NULL,
    PRIMARY KEY(Id)
) AS SELECT
    Id,
    Age,
    Gender,
    Education,
    Country,
    Ethnicity
FROM CSVREAD('../data/drug_consumption.csv');

CREATE TABLE Personalidade (
    User_Id VARCHAR(5) NOT NULL,
    Nscore VARCHAR(10) NOT NULL,
    Escore VARCHAR(10) NOT NULL,
    Oscore VARCHAR(10) NOT NULL,
    Ascore VARCHAR(10) NOT NULL,
    Cscore VARCHAR(10) NOT NULL,
    Impulsive  VARCHAR(10) NOT NULL,
    SS  VARCHAR(10) NOT NULL,
    FOREIGN KEY(User_Id)
        REFERENCES Usuario(Id)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION
) AS SELECT
    Id,
    Nscore,
    Escore,
    Oscore,
    Ascore,
    Cscore,
    Impulsive,
    SS
FROM CSVREAD('../data/drug_consumption.csv');

CREATE TABLE Consumo (
    User_Id VARCHAR(5) NOT NULL,
    Alcohol  VARCHAR(4) NOT NULL,
    Amphet VARCHAR(4) NOT NULL,
    Amyl VARCHAR(4) NOT NULL,
    Benzos VARCHAR(4) NOT NULL,
    Caff VARCHAR(4) NOT NULL,
    Cannabis VARCHAR(4) NOT NULL,
    Choc VARCHAR(4) NOT NULL,
    Coke VARCHAR(4) NOT NULL,
    Crack VARCHAR(4) NOT NULL,
    Ecstasy VARCHAR(4) NOT NULL,
    Heroin VARCHAR(4) NOT NULL,
    Ketamine VARCHAR(4) NOT NULL,
    Legalh VARCHAR(4) NOT NULL,
    LSD VARCHAR(4) NOT NULL,
    Meth VARCHAR(4) NOT NULL,
    Mushrooms VARCHAR(4) NOT NULL,
    Nicotine VARCHAR(4) NOT NULL,
    Semer VARCHAR(4) NOT NULL,
    VSA VARCHAR(4) NOT NULL,
    FOREIGN KEY(User_Id)
        REFERENCES Usuario(Id)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION
) AS SELECT
    Id,
    Alcohol,
    Amphet,
    Amyl,
    Benzos,
    Caff,
    Cannabis,
    Choc,
    Coke,
    Crack,
    Ecstasy,
    Herion,
    Ketamine,
    Legalh,
    LSD,
    Meth,
    Mushrooms,
    Nicotine,
    Semer,
    VSA
FROM CSVREAD('../data/drug_consumption.csv');

# I. Traduzindo os valores

##  Attribute Information:

* Age (Real) is age of participant and has one of the values: <br>
Value Meaning<br>
-0.95197 18-24<br>
-0.07854 25-34 <br>
0.49788 35-44  <br>
1.09449 45-54 <br>
1.82213 55-64 <br>
2.59171 65+<br>
<br>
* Gender (Real) is gender of participant: <br>
0.48246 Female <br>
-0.48246 Male<br>
<br>
* Education (Real) is level of education of participant and has one of the values: <br>
-2.43591 Left school before 16 years <br>
-1.73790 Left school at 16 years <br>
-1.43719 Left school at 17 years<br>
-1.22751 Left school at 18 years <br>
-0.61113 Some college or university, no certificate or degree <br>
-0.05921 Professional certificate/ diploma<br>
0.45468 University degree  <br>
1.16365 Masters degree<br>
1.98437 Doctorate degree<br>
<br>
* Country (Real) is country of current residence of participant and has one of the values: <br>
-0.09765 Australia <br>
0.24923 Canada <br>
-0.46841 New Zealand <br>
-0.28519 Other <br>
0.21128 Republic of Ireland <br> 
0.96082 UK <br>
-0.57009 USA <br>
<br>
* Ethnicity (Real) is ethnicity of participant and has one of the values: <br>
<br>
-0.50212 Asian <br> 
-1.10702 Black <br>
1.90725 Mixed-Black/Asian <br>
0.12600 Mixed-White/Asian <br>
-0.22166 Mixed-White/Black <br> 
0.11440 Other <br>
-0.31685 White <br>
<br>
* Nscore (Real) is NEO-FFI-R Neuroticism. Possible values are presented in table below: <br>
Nscore Cases Value Nscore Cases Value Nscore Cases Value <br>
12 1 -3.46436 29 60 -0.67825 46 67 1.02119 <br>
13 1 -3.15735 30 61 -0.58016 47 27 1.13281 <br>
14 7 -2.75696 31 87 -0.46725 48 49 1.23461 <br>
15 4 -2.52197 32 78 -0.34799 49 40 1.37297 <br>
16 3 -2.42317 33 68 -0.24649 50 24 1.49158 <br>
17 4 -2.34360 34 76 -0.14882 51 27 1.60383 <br>
18 10 -2.21844 35 69 -0.05188 52 17 1.72012 <br>
19 16 -2.05048 36 73 0.04257 53 20 1.83990 <br>
20 24 -1.86962 37 67 0.13606 54 15 1.98437 <br>
21 31 -1.69163 38 63 0.22393 55 11 2.12700 <br>
22 26 -1.55078 39 66 0.31287 56 10 2.28554 <br>
23 29 -1.43907 40 80 0.41667 57 6 2.46262 <br>
24 35 -1.32828 41 61 0.52135 58 3 2.61139 <br>
25 56 -1.19430 42 77 0.62967 59 5 2.82196 <br>
26 57 -1.05308 43 49 0.73545 60 2 3.27393 <br>
27 65 -0.92104 44 51 0.82562 <br>
28 70 -0.79151 45 37 0.91093 <br>
<br>

8. Escore (Real) is NEO-FFI-R Extraversion. Possible values are presented in table below: <br>
Escore Cases Value Escore Cases Value Escore Cases Value <br>
16 2 -3.27393 31 55 -1.23177 45 91 0.80523 <br>
18 1 -3.00537 32 52 -1.09207 46 69 0.96248 <br>
19 6 -2.72827 33 77 -0.94779 47 64 1.11406 <br>
20 3 -2.53830 34 68 -0.80615 48 62 1.28610 <br>
21 3 -2.44904 35 58 -0.69509 49 37 1.45421 <br>
22 8 -2.32338 36 89 -0.57545 50 25 1.58487 <br>
23 5 -2.21069 37 90 -0.43999 51 34 1.74091 <br>
24 9 -2.11437 38 106 -0.30033 52 21 1.93886 <br>
25 4 -2.03972 39 107 -0.15487 53 15 2.12700 <br>
26 21 -1.92173 40 130 0.00332 54 10 2.32338 <br>
27 23 -1.76250 41 116 0.16767 55 9 2.57309 <br>
28 23 -1.63340 42 109 0.32197 56 2 2.85950 <br>
29 32 -1.50796 43 105 0.47617 58 1 3.00537 <br>
30 38 -1.37639 44 103 0.63779 59 2 3.27393 <br>
Descriptive statistics <br>
Min Max Mean Std.dev. <br>
-3.27393 3.27393 -0.00016 0.99745 <br>

9. Oscore (Real) is NEO-FFI-R Openness to experience. Possible values are presented in table below: <br>
Oscore Cases Value Oscore Cases Value Oscore Cases Value <br>
24 2 -3.27393 38 64 -1.11902 50 83 0.58331 <br>
26 4 -2.85950 39 60 -0.97631 51 87 0.72330 <br>
28 4 -2.63199 40 68 -0.84732 52 87 0.88309 <br>
29 11 -2.39883 41 76 -0.71727 53 81 1.06238 <br>
30 9 -2.21069 42 87 -0.58331 54 57 1.24033 <br>
31 9 -2.09015 43 86 -0.45174 55 63 1.43533 <br>
32 13 -1.97495 44 101 -0.31776 56 38 1.65653 <br>
33 23 -1.82919 45 103 -0.17779 57 34 1.88511 <br>
34 25 -1.68062 46 134 -0.01928 58 19 2.15324 <br>
35 26 -1.55521 47 107 0.14143 59 13 2.44904 <br>
36 39 -1.42424 48 116 0.29338 60 7 2.90161 <br>
37 51 -1.27553 49 98 0.44585 <br>
Descriptive statistics <br>
Min Max Mean Std.dev. <br>
-3.27393 2.90161 -0.00053 0.99623 <br>
<br>
10. Ascore (Real) is NEO-FFI-R Agreeableness. Possible values are presented in table below: <br>
Ascore Cases Value Ascore Cases Value Ascore Cases Value <br>
12 1 -3.46436 34 42 -1.34289 48 104 0.76096 <br>
16 1 -3.15735 35 45 -1.21213 49 85 0.94156 <br>
18 1 -3.00537 36 62 -1.07533 50 68 1.11406 <br>
23 1 -2.90161 37 83 -0.91699 51 58 1.2861 <br>
24 2 -2.78793 38 82 -0.76096 52 39 1.45039 <br>
25 1 -2.70172 39 102 -0.60633 53 36 1.61108 <br>
26 7 -2.53830 40 98 -0.45321 54 36 1.81866 <br>
27 7 -2.35413 41 114 -0.30172 55 16 2.03972 <br>
28 8 -2.21844 42 101 -0.15487 56 14 2.23427 <br>
29 13 -2.07848 43 105 -0.01729 57 8 2.46262 <br>
30 18 -1.92595 44 118 0.13136 58 7 2.75696 <br>
31 24 -1.77200 45 112 0.28783 59 1 3.15735 <br>
32 30 -1.62090 46 100 0.43852 60 1 3.46436 <br>
33 34 -1.47955 47 100 0.59042 <br>
Descriptive statistics <br>
Min Max Mean Std.dev. <br>
-3.46436 3.46436 -0.00024 0.99744 <br>
<br>
11. Cscore (Real) is NEO-FFI-R Conscientiousness. Possible values are presented in table below: <br>
Cscore Cases Value Cscore Cases Value Cscore Cases Value <br>
17 1 -3.46436 32 39 -1.25773 46 113 0.58489 <br>
19 1 -3.15735 33 49 -1.13788 47 95 0.7583 <br>
20 3 -2.90161 34 55 -1.01450 48 95 0.93949 <br>
21 2 -2.72827 35 55 -0.89891 49 76 1.13407 <br>
22 5 -2.57309 36 69 -0.78155 50 47 1.30612 <br>
23 5 -2.42317 37 81 -0.65253 51 43 1.46191 <br>
24 6 -2.30408 38 77 -0.52745 52 34 1.63088 <br>
25 9 -2.18109 39 87 -0.40581 53 28 1.81175 <br>
26 13 -2.04506 40 97 -0.27607 54 27 2.04506 <br>
27 13 -1.92173 41 99 -0.14277 55 13 2.33337 <br>
28 25 -1.78169 42 105 -0.00665 56 8 2.63199 <br>
29 24 -1.64101 43 90 0.12331 57 3 3.00537 <br>
30 29 -1.51840 44 111 0.25953 59 1 3.46436 <br>
31 41 -1.38502 45 111 0.41594 <br>
Descriptive statistics <br>
Min Max Mean Std.dev. <br>
-3.46436 3.46436 -0.00039 0.99752 <br>
<br>
12. Impulsive (Real) is impulsiveness measured by BIS-11. Possible values are presented in table below: <br>
Impulsiveness Cases Fraction <br>
-2.55524 20 1.06% <br>
-1.37983 276 14.64% <br>
-0.71126 307 16.29% <br>
-0.21712 355 18.83% <br>
0.19268 257 13.63% <br>
0.52975 216 11.46% <br>
0.88113 195 10.34% <br>
1.29221 148 7.85% <br>
1.86203 104 5.52% <br>
2.90161 7 0.37% <br>
Descriptive statistics <br>
Min Max Mean Std.dev. <br>
-2.55524 2.90161 0.00721 0.95446 <br>
<br>
13. SS (Real) is sensation seeing measured by ImpSS. Possible values are presented in table below: <br>
SS Cases Fraction <br>
-2.07848 71 3.77% <br>
-1.54858 87 4.62% <br>
-1.18084 132 7.00% <br>
-0.84637 169 8.97% <br>
-0.52593 211 11.19% <br>
-0.21575 223 11.83% <br>
0.07987 219 11.62% <br>
0.40148 249 13.21% <br>
0.76540 211 11.19% <br>
1.22470 210 11.14% <br>
1.92173 103 5.46% <br>
Descriptive statistics <br>
Min Max Mean Std.dev. <br>
-2.07848 1.92173 -0.00329 0.96370 <br>
 <br>
Consumo:
<br>
CL0 Never Used<br>
CL1 Used over a Decade Ago <br>
CL2 Used in Last Decade <br>
CL3 Used in Last Year <br>
CL4 Used in Last Month <br>
CL5 Used in Last Week <br>
CL6 Used in Last Day<br>

* Tornando as informações mais claras

In [3]:
UPDATE Usuario SET Gender = 'F' WHERE Gender = '0.48246';
UPDATE Usuario SET Gender = 'M' WHERE Gender = '-0.48246';

# I. Consultas SQL

# Análise Estatística

* Número de pessoas que já usaram alguma droga alguma vez na vida, com a porcentagem sobre o total.

In [4]:
DROP TABLE IF EXISTS ConsumedAtLeastOnce;
CREATE TABLE ConsumedAtLeastOnce (
	Name VARCHAR(20),
	AtLeastOnce INT,
	Percentage FLOAT
);

INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Amphetamine');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Alcohol');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Amyl_nitrite');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Benzodiazepine');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Cannabis');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Chocolate');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Cocaine');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Caffeine');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Crack');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Ecstasy');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Heroin');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('LSD');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Mushrooms');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('Nicotine');
INSERT INTO ConsumedAtLeastOnce (Name) VALUES ('VSA');

UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Amphet <> 'CL0')
WHERE Name = 'Amphetamine';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Alcohol <> 'CL0')
WHERE Name = 'Alcohol';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Amyl <> 'CL0')
WHERE Name = 'Amyl_nitrite';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Benzos <> 'CL0')
WHERE Name = 'Benzodiazepine';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Cannabis <> 'CL0')
WHERE Name = 'Cannabis';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Choc <> 'CL0')
WHERE Name = 'Chocolate';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Coke <> 'CL0')
WHERE Name = 'Cocaine';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Caff <> 'CL0')
WHERE Name = 'Caffeine';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Crack <> 'CL0')
WHERE Name = 'Crack';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Ecstasy <> 'CL0')
WHERE Name = 'Ecstasy';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Heroin <> 'CL0')
WHERE Name = 'Heroin';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE LSD <> 'CL0')
WHERE Name = 'LSD';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Mushrooms <> 'CL0')
WHERE Name = 'Mushrooms';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE Nicotine <> 'CL0')
WHERE Name = 'Nicotine';
UPDATE ConsumedAtLeastOnce
SET AtLeastOnce = (SELECT COUNT(User_Id) FROM Consumo WHERE VSA <> 'CL0')
WHERE Name = 'VSA';

UPDATE ConsumedAtLeastOnce
SET Percentage = (CAST(AtLeastOnce AS FLOAT) / 
                  CAST((SELECT COUNT(User_Id) FROM Consumo) AS FLOAT
                      ))*100;

SELECT * FROM ConsumedAtLeastOnce;

* Quantos usuários usaram alguma droga ilícita no último mês e quantos não usaram?

In [5]:
DROP TABLE UsaIlicitas IF EXISTS;
DROP VIEW UsaIlicitasId IF EXISTS;

CREATE TABLE UsaIlicitas (
    User_Id VARCHAR(5) NOT NULL,
    UsaIlicita BOOLEAN DEFAULT false,
    FOREIGN KEY(User_Id)
        REFERENCES Usuario(Id)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION
);

INSERT INTO UsaIlicitas (User_Id)
SELECT Id FROM Usuario;

CREATE VIEW UsaIlicitasId AS
SELECT C.User_Id FROM Consumo C WHERE 
C.Amphet = 'CL4' OR C.Amphet ='CL5' OR C.Amphet ='CL6' OR
C.Benzos = 'CL4' OR C.Benzos ='CL5' OR C.Benzos ='CL6' OR
C.Cannabis = 'CL4' OR C.Cannabis ='CL5' OR C.Cannabis ='CL6' OR
C.Coke = 'CL4' OR C.Coke ='CL5' OR C.Coke ='CL6' OR
C.Crack = 'CL4' OR C.Crack ='CL5' OR C.Crack ='CL6' OR
C.Ecstasy = 'CL4' OR C.Ecstasy ='CL5' OR C.Ecstasy ='CL6' OR
C.Heroin = 'CL4' OR C.Heroin ='CL5' OR C.Heroin ='CL6' OR
C.Legalh = 'CL4' OR C.Legalh ='CL5' OR C.Legalh ='CL6' OR
C.LSD = 'CL4' OR C.LSD ='CL5' OR C.LSD ='CL6' OR
C.Meth = 'CL4' OR C.Meth ='CL5' OR C.Meth ='CL6' OR
C.Mushrooms = 'CL4' OR C.Mushrooms ='CL5' OR C.Mushrooms ='CL6' OR
C.VSA = 'CL4' OR C.VSA ='CL5' OR C.VSA ='CL6';

In [6]:
UPDATE UsaIlicitas Ui SET Ui.UsaIlicita = true 
WHERE EXISTS (SELECT Uid.User_Id FROM UsaIlicitasId Uid WHERE Ui.User_Id = Uid.User_Id);

In [7]:
SELECT UsaIlicita, COUNT(UsaIlicita) NumeroUsuarios FROM UsaIlicitas GROUP BY UsaIlicita;

* Quantos usuários consumiram álcool no último dia?

In [8]:
SELECT COUNT(*) AlcoolUltimoDia
FROM Consumo C
GROUP BY C.Alcohol
HAVING C.Alcohol = 'CL6';

505

# Análise de Correlação de Variáveis

* Pessoas que possuem uma pontuação no traço de personalidade neuroticismo maior do que a média tendem a usar mais drogas ilícitas recentemente?

In [9]:
SELECT COUNT(*) N_Usam_DrogaIlicita
FROM Personalidade P, UsaIlicitasId U
WHERE P.Nscore < '-1.55078' AND P.User_Id = U.User_Id;

375

* Quantos e qual a porcentagem dos usuarios de drogas com mais frequencia sao jovens?

In [10]:
SELECT COUNT(Uid.User_Id) FROM UsaIlicitasId Uid, Usuario U
WHERE Uid.User_Id = U.Id AND U.Age = -0.95197;

526

In [11]:
SELECT(
CAST(
(
	CAST(
	(SELECT COUNT(Uid.User_Id) FROM UsaIlicitasId Uid, Usuario U
	WHERE Uid.User_Id = U.Id AND U.Age = -0.95197) 
	AS FLOAT)
	/
	CAST(
	(SELECT COUNT(User_Id) FROM UsaIlicitasId) 
	AS FLOAT) 
)
AS FLOAT)
);

0.5297079556898288